<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BST</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js"></script>

<body>
	<div ng-app="user">
		<div class="jumbotron">
			<a href="/logout">
			<button class="btn pull-right">Logout</button>
			</a>
			<a href="#/new">
			<button class="btn btn-primary pull-right">
				<i class="fa fa-plus"></i> Add user
			</button>
			</a>
			<h1>Administrative System</h1>
		</div>
	
		<div ng-view></div>
		
	<script type="text/ng-template" id="list.html">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>Users</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="" ng-repeat="user in users">
						<a href="" ng-click="get($index)">{{user.Name}}</a>
					</li>
				</ul>
			</div>
			<script>console.log(user)</script>
			<div class="col-sm-6" ng-show="user._id.$oid">
				<h2>{{user.Name}}</h2>
				<dl class="dl-horizontal">
					<dt>Email:</dt>
					<dd>{{user.Email}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>HomePath:</dt>
					<dd>{{user.HomePath}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>GUI Port:</dt>
					<dd>{{user.GuiPort}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Listen Port:</dt>
					<dd>{{user.ListenPort}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Group:</dt>
					<dd>{{user.Group}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Status:</dt>
					<dd>{{user.Status}}</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<a href="#/edit/{{user._id.$oid}}">
				<button class="btn btn-primary form-control">
					<i class="fa fa-pencil"></i> Update this User
				</button>
				</a>
				<button class="btn btn-danger form-control">
					<i class="fa fa-trash-o"></i> Remove this User
				</button>
			</div>
		</div>
	</div>
	</script>

	<script type="text/ng-template" id="detail.html">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
			</div>				
			<div class="col-sm-6 ng-hide">
				<form name="myForm">
					<fieldset>
						<div class='control-group' ng-class="{error: myForm.name.$invalid}">
							<label>Name</label>
							<input type='text' name="Name" ng-model="user.Name" required/>
          					<span ng-show="myForm.Name.$error.required" class="help-inline">Required</span>
							<label>Email</label>
							<input type='text' name="Email" ng-model="user.Email"/>
							<label>GUI Port</label>
							<input type='text' name="Guiport" ng-model="user.Guiport" required/>
          					<span ng-show="myForm.Guiport.$error.required" class="help-inline">Required</span>
							<label>Listen Port</label>
							<input type='text' name="Listenport" ng-model="user.Listenport" required/>
							<span ng-show="myForm.Listenport.$error.required" class="help-inline">Required</span>
							<label>Group</label>
							<input type='text' name="Group" ng-model="user.Group"/>
							<label>Status</label>
							<input type='text' name="Status" ng-model="user.Status"/>
						</div>
						<div class='modal-footer'>
							<button type='submit' class="btn btn-danger" data-dismiss="modal" ng-click="destroy()">Delete</button>
							<button type='submit' class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
						</div>
					</fieldset>
				</form>		
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
	</script>

<script>
var app = angular.module('user', ['restangular', 'ngRoute'])
  app.config(function($routeProvider, RestangularProvider) {
    $routeProvider.
      when('/', {
        controller:ListCtrl, 
        templateUrl:'list.html'
      }).
      when('/edit/:projectId', {
        controller:EditCtrl, 
        templateUrl:'detail.html',
        resolve: {
          user: function(Restangular, $route){
            return Restangular.one('users', $route.current.params.userId).get();
          }
        }
      }).
      when('/new', {controller:CreateCtrl, templateUrl:'detail.html'}).
      otherwise({redirectTo:'/'});
      
      RestangularProvider.setBaseUrl('/admin');
      RestangularProvider.setRestangularFields({
        id: '_id.$oid'
      });
      
      RestangularProvider.setRequestInterceptor(function(elem, operation, what) {
        
        if (operation === 'put') {
          elem._id = undefined;
          return elem;
        }
        return elem;
      })
  });


function ListCtrl($scope, Restangular) {
   $scope.users = Restangular.all("user").getList().$object;
}


function CreateCtrl($scope, $location, Restangular) {
  $scope.save = function() {
    Restangular.all('users').post($scope.user).then(function(user) {
      $location.path('/list');
    });
  }
}

function EditCtrl($scope, $location, Restangular, user) {
  var original = user;
  $scope.user = Restangular.copy(original);
  

  $scope.isClean = function() {
    return angular.equals(original, $scope.user);
  }

  $scope.destroy = function() {
    original.remove().then(function() {
      $location.path('/list');
    });
  };

  $scope.save = function() {
    $scope.project.put().then(function() {
      $location.path('/');
    });
  };
}
</script>
</body>
</html>
