<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BST</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js"></script>

<body>
	<div ng-app="user">
		<div class="jumbotron">
			<a href="/logout">
			<button class="btn pull-right">Logout</button>
			</a>
			<a href="#/new">
			<button class="btn btn-primary pull-right">
				<i class="fa fa-plus"></i> Add user
			</button>
			</a>
			<h1>Administrative System</h1>
		</div>
	
		<div ng-view></div>
		
	<script type="text/ng-template" id="list.html">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>Users</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="" ng-repeat="user in users">
						<a href="#/view/{{user.Name}}" ng-click="get($index)">{{user.Name}}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6" ng-show="user">
				<h2>{{user.Name}}</h2>
				<dl class="dl-horizontal">
					<dt>Email:</dt>
					<dd>{{user.Email}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>HomePath:</dt>
					<dd>{{user.HomePath}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>GUI Port:</dt>
					<dd>{{user.GuiPort}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Listen Port:</dt>
					<dd>{{user.ListenPort}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Group:</dt>
					<dd>{{user.Group}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Status:</dt>
					<dd>{{user.Status}}</dd>
				</dl>
			</div>
			<div class="col-sm-3" ng-show="user">
				<a href="#/edit/{{user.Name}}">
				<button class="btn btn-primary form-control">
					<i class="fa fa-pencil"></i> Update this User
				</button>
				</a>
				<a href="#/destroy/{{user.Name}}">
				<button class="btn btn-danger form-control">
					<i class="fa fa-trash-o"></i> Delete this User
				</button>
				</a>
			</div>
		</div>
	</div>
	</script>
	
	<script type="text/ng-template" id="detail.html">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<form name="myForm" class="form-horizontal">
					<fieldset>
					<legend>User</legend>
						<div class='control-group' ng-class="{error: myForm.name.$invalid}">
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Name</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Name" ng-model="user.Name" required/>
									<span ng-show="myForm.Name.$error.required" class="help-inline">Required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Change Password</label>
								<div class="col-lg-10">
									<input class="form-control" type='password' name="NewPassword" ng-model="NewPassword"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Email</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Email" ng-model="user.Email"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">GUI Port</label>
								<div class="col-lg-10">
									<input class="form-control" type='number' name="Guiport" ng-model="user.GuiPort"/>
									<span class="error" ng-show="myForm.input.$error.number">Is NOT a number!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Listen Port</label>
								<div class="col-lg-10">
									<input class="form-control" type='number' name="Listenport" ng-model="user.ListenPort"/>
									<span class="error" ng-show="myForm.input.$error.number">Is NOT a number!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Group</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Group" ng-model="user.Group"/>
									<span class="error" ng-show="myForm.input.$error.number">Is NOT a number!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Status</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Status" ng-model="user.Status"/>
								</div>
							</div>
						</div>
						<div>
							<button type='submit' class="btn btn-primary" ng-click="save()">Save</button>
							<button type='submit' class="btn btn-primary" ng-click="cancel()">Cancel</button>
						</div>
					</fieldset>
				</form>		
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
	</script>
	
	<script type="text/ng-template" id="new.html">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<form name="myForm" class="form-horizontal">
					<fieldset>
					<legend>User</legend>
						<div class='control-group' ng-class="{error: myForm.name.$invalid}">
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Name</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Name" ng-model="user.Name" required/>
									<span ng-show="myForm.Name.$error.required" class="help-inline">Required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Password</label>
								<div class="col-lg-10">
									<input class="form-control" type='password' name="Password" ng-model="user.Password"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Email</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Email" ng-model="user.Email"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">GUI Port</label>
								<div class="col-lg-10">
									<input class="form-control" type='number' name="Guiport" ng-model="user.GuiPort"/>
									<span class="error" ng-show="myForm.input.$error.number">Is NOT a number!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Listen Port</label>
								<div class="col-lg-10">
									<input class="form-control" type='number' name="Listenport" ng-model="user.ListenPort"/>
									<span class="error" ng-show="myForm.input.$error.number">Is NOT a number!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Group</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Group" ng-model="user.Group"/>
									<span class="error" ng-show="myForm.input.$error.number">Is NOT a number!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="textinput">Status</label>
								<div class="col-lg-10">
									<input class="form-control" type='text' name="Status" ng-model="user.Status"/>
								</div>
							</div>
						</div>
						<div>
							<button type='submit' class="btn btn-primary" ng-click="save()">Save</button>
							<button type='submit' class="btn btn-primary" ng-click="cancel()">Cancel</button>
						</div>
					</fieldset>
				</form>		
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
	</script>

<script>
var app = angular.module('user', ['restangular', 'ngRoute'])
  app.config(function($routeProvider, RestangularProvider) {
    $routeProvider
		.when('/', {
		  controller:ListCtrl, 
		  templateUrl:'list.html'
		})
		.when('/new', {
		  controller:CreateCtrl,
		  templateUrl:'new.html',
		  resolve: {
		    user: function(Restangular, $route){
		      return Restangular.one('user', $route.current.params.userId).get();
		    }
		  }
		})
		.when('/edit/:userId', {
		  controller:EditCtrl, 
		  templateUrl:'detail.html',
		  resolve: {
		    user: function(Restangular, $route){
		      return Restangular.one('user', $route.current.params.userId).get();
		    }
		  }
		})
		.when('/view/:userId', {
		  controller:ViewCtrl, 
		  templateUrl:'list.html',
		  resolve: {
		    user: function(Restangular, $route){
		      return Restangular.one('user', $route.current.params.userId).get();
		    }
		  }
		})
		.when('/destroy/:userId', {
		  controller:RemoveCtrl, 
		  templateUrl:'list.html',
		  resolve: {
		    user: function(Restangular, $route){
		      return Restangular.one('user', $route.current.params.userId).get();
		    }
		  }
		})			
		.otherwise({redirectTo:'/'});
      
      RestangularProvider.setBaseUrl('/admin');
      RestangularProvider.setRestangularFields({
        id: 'Name.$oid'
      });
        
      RestangularProvider.setRequestInterceptor(function(elem, operation, what) {
        
        if (operation === 'put') {
          elem._id = undefined;
          return elem;
        }
        return elem;
      })
  });

function formatUser(user){
	if (!user.Id) { user.Id = 0 }
	if (!user.HomePath) { user.HomePath = "" }
	if (!user.Status) { user.Status = "" }
	if (!user.Password) { user.Passowrd = "" }
	if (!user.Email) { user.Email = "" }
	if (!user.GuiPort) { user.GuiPort = 0 } else { user.GuiPort = parseInt(user.GuiPort)}
	if (!user.ListenPort) { user.ListenPort = 0 } else { user.ListenPort = parseInt(user.ListenPort)}
	if (!user.Created) { user.Created = 0 } else { user.Created = parseInt(user.Created)}
	if (!user.Group) { user.Group = 1 } else { user.Group = parseInt(user.Group)}
	return (user) 
}

function ListCtrl($scope, Restangular) {
   $scope.users = Restangular.all("user").getList().$object;
}

function CreateCtrl($scope, $location, Restangular) {
  $scope.user = formatUser($scope.user)
  $scope.save = function() {
    Restangular.all('user').post($scope.user).then(function(user) {
      $location.path('/list');
    });
  }
  $scope.cancel = function() {
	$location.path('/');
  };
}

function EditCtrl($scope, $location, Restangular, user) {
  var original = user;
  $scope.user = Restangular.copy(original);

  $scope.isClean = function() {
    return angular.equals(original, $scope.user);
  }

  $scope.save = function() {
	$scope.user.Password = $scope.myForm.NewPassword.$viewValue
	$scope.user = formatUser($scope.user)
    $scope.user.put().then(function() {
      $location.path('/');
    });
  };

  $scope.cancel = function() {
	$location.path('/view/'+user.Name);
  };
}

function ViewCtrl($scope, $location, Restangular, user) {
  $scope.users = Restangular.all("user").getList().$object;
  var original = user;
  $scope.user = Restangular.copy(original);
  
}

function RemoveCtrl($scope, $location, Restangular, user) {
	Restangular.one('user', user.Name).remove();
	$location.path('/');
}

</script>
</body>
</html>
